@{
    ViewData["Title"] = "ExamenP1";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Ingresa a la tabla y llena los <a href="https://localhost:7107/JuanAlvarez_tabla">datos de un empleado</a>.</p>
</div>
